# =========================
# Visual Studio / VS cache
# =========================
.vs/

# =========================
# Build output (.NET)
# =========================
**/bin/
**/obj/

# =========================
# User-specific files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs / temp
# =========================
*.log
Logs/
log/

# =========================
# IDEs (optional)
# =========================
.vscode/
.idea/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# Resx generated designer files
*.Designer.cs

# Resx generated designer files (only resources)
**/Resources/**/*.Designer.cs



